{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>What we do</h1>
    <h4>In the COVID-19 era, we have realized that socially distant learning is an even more viable option than what tradition dictates. This web app takes us in that direction by democratizing education. Anyone can upload lecture videos from their university to this website (with consent from their professor), and make available for public viewing. This video will automatically get processed by a python script, to quickly yet exhaustively remove all traces of personal identifying information (faces, names, etc.), thus mitigating privacy concerns.</h4>

{% endblock %}