{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Privacy Policy</h1>
    <br>
    <h4>
      We strive to protect the anonymity of all those present in the uploaded videos. We emply proprietary anonymization algorithms to achieve this end. Feel free to use a alias when registering an account, if you wish to upload educational content anonymously.
      <br><br>
      This website uses Google API services. You can view Google's privacy policy at: <a href="https://policies.google.com/privacy?hl=en-US">Google Privacy Policy</a>
    </h4>
    <br><br>
    <h6>For any questions or concerns, please email kumbayuni@gmail.com</h6>
{% endblock %}
 
