{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Terms of Service</h1>
    <br>
    <h4>
      Please refrain from uploading non-academic media to this website. We reserve the right to remove any uploads that we deem inappropriate. If you would like to remove a video that you have uploaded, please inform us at kumbayuni@gmail.com and the matter will be taken care of within about three (3) business days.
      <br><br>
      This website uses youtube's services to host and upload your lecture videos. You can view youtube's ToS at: <a href="https://www.youtube.com/static?template=terms">Youtube Terms of Service</a>
    </h4>
    <br><br>
    <h6>For any questions or concerns, please email kumbayuni@gmail.com</h6>
{% endblock %}
 
